.listed {
    padding: 0;
    margin-top: 50px;
}

.listed p {
    font-size: 20px;
    margin-left: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.the_list {
    background: #3fc1c9;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    color: rgba(0, 0, 0, 0.7);
}

.the_list p {
    font-size: 20px;
    width: 20%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.key {
    background: #364f6b;
    border-radius: 5px;
    color: white;
}

/*Media */

@media only screen and (max-width: 600px) {
    .main_container {
    }

    .banner {
        width: 25vw;
        margin-left: 75vw;
    }

    .banner img {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .banner p {
        font-size: 10px;
        padding-top: 5px;
    }

    .stats {
        width: 100%;
        padding: 0;
    }

    .the_list p {
        font-size: 5px;
    }

    .generate {
        right: 30px;
        padding: 5px;
    }

    #loginScreen input {
        width: 65vw;
        height: 5vh;
        margin-left: 8vw;
    }


    .card2 img {
        width: 30vw;
    }

    .title {
        padding: 5px;
    }

    .offer h1 {
        font-size: 20px;
    }

    .offer b {
        font-size: 10px;
    }

    #offer_list {
        width: 100%;
    }

    .offer {
        margin: 5px;
    }

    .card {
        width: 70vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 800px) {
    .banner p {
        font-size: 15px;
        padding-top: 5px;
    }

    .stats {
        width: 100%;
        padding: 0;
    }

    .stats {
        width: 70%;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }

    .the_list p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        width: 25vw;
        margin-left: 75vw;
    }

    .stats {
        width: 80%;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
    }

    .card_div {
        margin-top: 0;
        margin-left: 10px;
        width: 50%;
        background-color: white;
        border: 1px solid #ffffff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 10px;
    }

    .card-text p {
        font-size: 17px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.7);
    }

    .card-text b {
        font-size: 25px;
        color: black;
        padding: 0;
        margin: 0;
    }

    .status-text {
        font-size: 15px;
        padding-left: 2%;
        color: rgba(0, 0, 0, 0.7);
        padding-top: 2%;
    }
}

@media only screen and (max-width: 500px) {
    .banner p {
        font-size: 12px;
        padding-top: 5px;
    }

    .stats {
        width: 90%;
        margin-top: 25px;
    }

    .the_list p {
        font-size: 15px;
    }

    .card-text p {
        font-size: 13px;
    }

    .card-text b {
        font-size: 20px;
    }

    .first_row img {
        width: 25px;
    }

    .status-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .the_list p {
        font-size: 13px;
    }

    .banner p {
        color: white;
        font-size: 10px;
    }

    .banner {
        width: 30vw;
        margin-left: 70vw;
    }
}