body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.form_head {
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-top: 12%;
}
.form_subhead {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 0;
  padding: 5px;
}

.my_input_m {
  width: 93%;
  padding: 0;
  margin: 0;
  border: 0px;
  padding: 3%;
  margin-top: 10px;
}

.loged {
  background-color: var(--primary-color);
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.loged a {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
.log {
  text-align: center;
  border-radius: 2px;
  background: var(--secondary-color);
}
.myform_p {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  text-align: center;

  color: #777;
}
.loged b {
  color: yellow;
}
.linked {
  color: #381942;
}
.text_p {
  color: #777;
  padding: 0;
  margin: 0;
  text-align: right;
}

.loged:hover {
  box-shadow: 1px 1px 3px #faa8a8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #52b2bf;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 200px;
  border-radius: 50%;
}

.container_m {
  padding: 16px;
  border: 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.myform_m {
  width: 40vw;
  margin: auto;
  border: 0px;
}

.container_m input {
  outline: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.container_m input:hover {
  box-shadow: 1px 1px 3px #888888;
}
.container_m label {
  color: #555;
  margin-top: 10px;
}

@media screen and (max-width: 1100px) {
  .form_head {
    margin-top: 20%;
  }
  .myform_m {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .myform_m {
    margin: 0px;
    width: 90vw;
    margin: auto;
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  .form_head {
    font-size: 26px;
  }
  .form_subhead {
    font-size: 16px;
  }
  .loged {
    font-size: 16px;
  }
  .myform_p {
    font-size: 15px;
  }
  .my_input_m {
    width: 88%;
    padding: 6%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.cover_anime {
  position: absolute;
  z-index: 100;
  background-color: var(--primary-color);
  display: none;
  width: 100%;
  height: 100%;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
